

.intersection_verticat{
  overflow-x: auto;
  padding: 10px 0;
  width: 100%;

}
.element_parenttest{
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
}
.section_elementtest{
  height: 450px;
  width: 100vw;
  background-color: #00000010;
}
.section_elementtest:nth-child(1){
  background-color: #d3262610;
}
.section_elementtest:nth-child(2){
  background-color: #f70000;
}
.section_elementtest:nth-child(3){
  background-color: #d87272;
}
.section_elementtest:nth-child(4){
  background-color: #860000fa;
}
.section_elementtest:nth-child(5){
  background-color: #d1a2a2;
}
.section_elementtest:nth-child(6){
  background-color: #175397;
}